@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #25252b;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}
body, button {
  font-family: 'Inconsolata', monospace;
}

/* CALCULATOR */
#calculator {
  background-color: #c2cfc8;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 620px;
  padding: 30px;
}

/* DISPLAY */
#display-container {
  background-color: #014227;
  color: #c2db7e;
  text-shadow: 0 0 10px #2f7a0d;
  box-shadow: 0 0 20px #00311c inset,
              0 0 5px #00311c inset,
              0 0 10px #9bb3b0;
  border-radius: 3px;
  height: 120px;
  margin: 0 auto;
  text-align: right;
  overflow: hidden;
  position: relative;
  word-spacing: -10px;
  padding: 15px;
}

#display,
#history {
  position: absolute;
  right: 0;
  padding: inherit;
}
#display {
  bottom: 0;
  padding: inherit;
  font-size: 50px;
}
#history {
  top: 0;
  white-space: nowrap;
  font-size: 30px;
  height: 20px;
}

/* BUTTONS */
#btn-container {
  display: grid;
  gap: 10px;
  margin-top: 30px;
  height: 400px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.btn {
  font-size: 40px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 10px #9bb3b0,
              0 0 5px rgba(26, 39, 44, 0.2) inset;
  position: relative;
  transition: 50ms font-size;
}
.btn:not(:disabled) {
  cursor: pointer;
}
.btn:not(:disabled):active {
  font-size: 38px;
  box-shadow: 0 0 10px #9bb3b0,
              0 0 5px rgb(26, 39, 44) inset;
}
/* inset shadow on hover */
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(26, 39, 44, 0.8) inset;
  opacity: 0;
  transition: 100ms ease-out opacity;
}
.btn:not(:disabled):hover::after,
.btn:not(:disabled):active::after {
  opacity: 1;
}
#btn-container .btn:disabled {
  opacity: 0.5;
  background-color: #828282;
  color: #000;
}

#clear-btn,
#delete-btn {
  background-color: #597e84;
}
.operator-btn,
#equals-btn {
  background-color: #2a4d5b;
  color: #fff;
}
.num-btn,
#decimal-btn {
  background-color: #87a09c;
}

#clear-btn {
  grid-column: 1 / 3;
}
#delete-btn {
  grid-column: 3 / 5;
}
#btn-7 {
  grid-area: 2 / 1;
}
#btn-8 {
  grid-area: 2 / 2;
}
#btn-9 {
  grid-area: 2 / 3;
}
#btn-4 {
  grid-area: 3 / 1;
}
#btn-5 {
  grid-area: 3 / 2;
}
#btn-6 {
  grid-area: 3 / 3;
}
#btn-1 {
  grid-area: 4 / 1;
}
#btn-2 {
  grid-area: 4 / 2;
}
#btn-3 {
  grid-area: 4 / 3;
}
#btn-0 {
  grid-area: 5 / 1;
}
#decimal-btn {
  grid-area: 5 / 2;
}
#equals-btn {
  grid-area: 5 / 3;
}
#divide-btn {
  grid-area: 2 / 4;
}
#multiply-btn {
  grid-area: 3 / 4;
}
#subtract-btn {
  grid-area: 4 / 4;
}
#add-btn {
  grid-area: 5 / 4;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  color: #bbbbbb;
}
footer p {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
}
footer a {
  color: #86c6bb;
  text-decoration: none;
  transition: text-shadow 100ms ease-out;
}
footer a:hover,
footer a:focus {
  text-decoration: underline;
  text-shadow: 0 0 10px #2a4d5b;
}